body{
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #446776;
    text-align: center;
}
p{
    text-align: center;
}
a{
    text-decoration: none;
    background-color: #517c8d;
    color: white;
    padding: 5px;
    text-align: center;
}